/* ------------------- global ------------------------------- */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  grid-column: 1/4;
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
  margin: 3%;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  padding: 9rem 0 6rem 0;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}


p {
  font-size: 1.6rem;
}

p.mobile-text {
  font-size: 0.5rem;
}


button {
  cursor: pointer;
}

h6.row-head {
  justify-self: start;
  align-self: center;
  font-size: 1.5rem;
}


/* -----------------------------------------------------main grid-------------------------------- */

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(30px, auto);
  align-items: stretch;
  justify-items: stretch;
  width: 100%;
}

#input-container {
  background-color: lightblue;
  grid-column: 1/2;
  padding: 3rem 5% 10rem 5%;
}



/* ---------------------------------------- input form grid ------------------------------------------------------- */



#input-grid {
  display: grid;
  grid-gap: 1rem 1.6rem;
  grid-template-columns: minmax(30px, 1.2fr) repeat(7, minmax(20px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  align-items: center;
  justify-items: stretch;
}



/* -------------------------------------------------------grid placement by row */

.pricing-type {
  grid-row: 1/2;
}
.qty {
  grid-row: 2/3;
  justify-self: stretch;
}

.unit-cost {
  grid-row: 3/4;
  justify-self: stretch;
}

.unit-code {
  grid-row: 4/5;
}

.setup-fee {
  grid-row: 5/6;
}

.setup-code {
  grid-row: 6/7;
}

.qty-pb {
  grid-row: 7/8;
}

.cost-pb {
  grid-row: 8/9;
}

.handling-fees-selector {
  grid-row: 9/10;
}

.handling-fees-input {
  grid-row: 10/11;
}

/* grid group settings */

.qty input,
.pricing-type input,
.unit-cost input {
  max-width: 100%;
}

select.unit-code.max-span, select.pricing-type {
  grid-column: 2/9; 
}

p.qty-pb ,
p.cost-pb,
p.handling.title-fee,
p.handling.title-type {
  font-size: 1.4rem;
  /* font-weight: 600; */
}


/* --------------------------------------------------------------------------------- Pricing Type */


/* ---------------------------------------------------------------------------------QTY */

.qty {
  align-items: stretch;
}

.qty-sets {
  display: flex;
}



/* ---------------------------------------------------------------------------------  Unit Cost */


/* ---------------------------------------------------------------------------------  Code (Unit) */

/* --------------------------------------------------------------------------------- Setup */

/* --------------------------------------------------------------------------------- Box Info */

#box-head {
  grid-column: 1/1;
  grid-row: 7/9;
}

p.qty-pb ,
p.cost-pb{
  justify-self: center;
}


.box-btn {
  grid-column: 8/-1;
  max-width: 100%;
  border-radius: 5px;
  padding: 3px 10px 3px 8px;
  text-align: center;
}

.box-btn.add-box {
  grid-row: 7/8;
}

.box-btn.remove-box {
  grid-row: 8/9;
}

/* --------------------------------------------------------------------------------- Handling Fees */

#handling-head {
  grid-column: 1/2;
  grid-row: 9/11;
}

.handling.title-type {
  grid-row: 9 / span 1;
  justify-self: center;
}

.handling.title-fee {
  grid-row: 10 / span 1;
  justify-self: center;
}


.handling-btn {
  grid-column: 8/-1;
  max-width: 100%;
  border-radius: 5px;
  padding: 3px 10px 3px 8px;
}

.handling-btn.add-fee {
  grid-row: 9/10;
}
.handling-btn.remove-fee {
  grid-row: 10/11;
}

/* --------------------------------------------------------------------------------- Submit Button */

#btn-container button {
  margin-top: 70px;
  width: 250px;
  height: 45px;
  border-radius: 5px;
}




/* ------------------------------------------------------------------------------------------- Results -- */

#results-container {
  background-color: bisque;
  grid-column: 3/4;
  padding: 3rem 5% 10rem 5%;
}


#results-container h5.pcs-head {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}


#results-grid {
  display: grid;
  grid-gap: 1rem 1.6rem;
  grid-template-columns: minmax(30px, 1.2fr) repeat(7, minmax(40px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  align-items: center;
  justify-items: stretch;

}


.result-data {
  background-color: white;
  width: 100%;
  padding: 3% 5%;
  border: 1px solid gray;
  border-radius: 4px;
}


/* ------------------------------------- Profit Margin --------------------- */


.profit-margin {
  padding: 0;
  display: flex;
  align-items: center;
}

.profit-margin input {
  min-height: 98%;
  width: 85%;
  padding: 3% 0;
  padding-left: 5px;
  
}

.profit-margin .percentage-symbol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 6px;
}


/* -------------------------------------------------------------------------------- Additional Data ------- */

#additional-data-container {
  background-color: aquamarine;
  grid-column: 1/2;
  padding: 3rem 5% 10rem 5%;
}

#additional-data-container h5.pcs-head {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#additional-data-grid {
  display: grid;
  grid-gap: 1rem 1.6rem;
  grid-template-columns: minmax(30px, 1.2fr) repeat(7, minmax(40px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  align-items: center;
  justify-items: stretch;
  font-size: 1rem;
}

#additional-data-grid h5.sub-header {
  grid-column: 1/9;
  font-size: 1.8rem;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 8rem;
  margin-bottom: 1rem;
  border-top: 2px dotted black;
  padding-top: 0.6rem;
}

#additional-data-grid h5.sub-header.box {
  margin-top: 0;
}



#additional-data-grid .grid-child {
  background-color: #fff;
  padding: 3px;
  /* border: 1px solid darkgreen; */
}

.additional-data-text-container {
  margin: 0.3rem 0.4rem 1rem 0.4rem;
}

.additional-data-text-container p {
  line-height: 24px;
  font-size: 1.4rem;
}

#additional-data-grid span.colored-text, #additional-data-grid p.colored-text {
  color: red;
  font-weight: 600;
  font-size: 1.6rem;
}

@media only screen and (max-width: 650px) {
  #additional-data-grid span.colored-text.mobile-text {
    font-size: 1rem;
  }
  .additional-data-text-container {
    margin: 0.3rem 0.2rem 2.5rem 0.2rem;
  }
}

/* ------------------------------------------------------------------ Box Logic  */

#additional-data-grid .box-logic {
  align-self: stretch;
  background-color: #fff;
}



/* ------------------------------------------------------------------------ universal-mobile */

.mobile-abbreviation, .mobile-btn {
  display: none;
}

@media only screen and (max-width: 850px) {
  .mobile-btn {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .mobile-abbreviation, .mobile {
    display: block;
  }
  .hide-if-mobile {
    display: none;
  }
  p.qty-pb ,
  p.cost-pb,
  p.handling.title-fee,
  p.handling.title-type {
    font-size: 1.2rem;
    /* font-weight: 600; */
  }
}

/* ------------------------------------------------------------------------ mobile grid styles */
@media only screen and (max-width: 750px) {

  #input-grid, #results-grid, #additional-data-grid  {
    grid-template-columns: minmax(0px, 0.8fr) repeat(7, minmax(0px, 1fr));
    grid-gap: 1rem 0.8rem;
  }
}

/* ------------------------------------------------------------------------ input-mobile */

@media only screen and (max-width: 850px) {
  .box-btn, .handling-btn {
    min-height: 6rem;
  }
}


@media only screen and (max-width: 750px) {


}


/* ------------------------------------------------------------------------ results-mobile */

@media only screen and (max-width: 750px) {
  .profit-margin p.percentage-symbol {
    display: none;
  }

  .profit-margin input {
      min-height: 98%;
      width: 100%;
      padding: 3% 0;
      padding-left: 5px;
      
    }
}





