@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root {
  --lightblue: rgb(197, 221, 230);
  --bisque: bisque;
  /* fonts */
  --default-sans: 'Source Sans Pro', sans-serif;
}

/* ------------------- global ------------------------------- */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--default-sans);
  font-weight: 600;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
  padding: 9rem 0 7rem 0;
}

h6.row-head {
  justify-self: start;
  align-self: center;
  font-size: 1.5rem;
}

p {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}


input:focus,
select:focus,
button:focus {
  outline: none !important;
  border: 4px solid rgb(64, 81, 87);
  box-shadow: 0 0 2px rgb(77, 99, 107);
}



/* ----------------------------------------------------------------- main grid ----- */

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(30px, auto);
  align-items: stretch;
  justify-items: stretch;
  width: 100%;
}


/* ------------------------------------------------------------------ input ----- */

#input-container {
  background-color: var(--lightblue);
  grid-column: 1/2;
  padding: 3rem 5% 10rem 5%;
}



.reset-btn,
.reset-btn:focus {
  position: absolute;
  right: 3%;
  background-color: lightcoral;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 2px solid #000;
  transition: 0.1s;
}

.reset-btn:active {
  transition: 0.3s;
  padding: 0.85rem 1.3rem;
}

#input-grid {
  display: grid;
  grid-gap: 1rem 1.6rem;
  grid-template-columns: minmax(30px, 1.2fr) repeat(7, minmax(20px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  align-items: center;
  justify-items: stretch;
}

select,
.input-data {
  padding: 5px 4px 3px 4px;
  background-color: white;
  width: 100%;
  border: 2px solid rgb(162, 167, 165);
  border-radius: 6px;
}


/* ----- grid placement by row --- */

.pricing-type {
  grid-row: 1/2;
}
.qty {
  grid-row: 2/3;
}

.unit-cost {
  grid-row: 3/4;
}

.unit-code {
  grid-row: 4/5;
}

.setup-fee {
  grid-row: 5/6;
}

.setup-code {
  grid-row: 6/7;
}

.qty-pb {
  grid-row: 7/8;
}

.cost-pb {
  grid-row: 8/9;
}

.handling-fees.input-data {
  grid-row: 9/10;
}

.handling-type.input-data {
  grid-row: 10/11;
}



/* ----- grid group settings --- */

.qty input,
.pricing-type input,
.unit-cost input {
  max-width: 100%;
}

select.unit-code.max-span,
select.pricing-type {
  grid-column: 2/9; 
}

p.qty-pb ,
p.cost-pb,
p.handling.title-fee,
p.handling.title-type {
  font-size: 1.4rem;
}


/* ----- QTY --- */

.qty {
  align-items: stretch;
}

.qty-sets {
  display: flex;
}

/* ----- Box --- */

#box-head {
  grid-column: 1/1;
  grid-row: 7/9;
}

p.qty-pb ,
p.cost-pb{
  justify-self: center;
}


.box-btn {
  grid-column: 8/-1;
  max-width: 100%;
  border-radius: 5px;
  padding: 3px 10px 3px 8px;
  text-align: center;
}

.box-btn.add-box {
  grid-row: 7/8;
}

.box-btn.remove-box {
  grid-row: 8/9;
}

/* ----- Handling Fees --- */

#handling-head {
  grid-column: 1/2;
  grid-row: 9/11;
}

.handling-type.input-data {
  padding-left: 0;
}

.handling.title-fee {
  grid-column: 2/3;
  grid-row: 9 / span 1;
  justify-self: center;
}

.handling.title-type {
  grid-column: 2/3;
  grid-row: 10 / span 1;
  justify-self: center;
}

.handling-btn {
  grid-column: 8/-1;
  max-width: 100%;
  border-radius: 5px;
  padding: 3px 10px 3px 8px;
}

.handling-btn.add-fee {
  grid-row: 9/10;
}
.handling-btn.remove-fee {
  grid-row: 10/11;
}



/* ----------------------------------------------------------------- Results ----- */

#results-container {
  background-color: var(--bisque);
  grid-column: 3/4;
  padding: 3rem 5% 10rem 5%;
}

.result-data {
  padding: 5px 4px 3px 4px;
  background-color: white;
  width: 100%;
  border: 2px solid rgb(193, 179, 158);
  border-radius: 6px;
}


#results-container h5.pcs-head {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

#results-grid {
  display: grid;
  grid-gap: 1rem 1.6rem;
  grid-template-columns: minmax(30px, 1.2fr) repeat(7, minmax(40px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  align-items: center;
  justify-items: stretch;
}

/* ----- Net Unit Cost --- */

.result-data.net-unit-cost {
  padding-bottom: 5px;
}

.result-data.net-unit-cost p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2px 0.4px;
}

/* ----- Profit Margin --- */

.profit-margin {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 3.5px 3px 2px 3px;
}

.profit-margin input {
  min-height: 98%;
  width: 85%;
  border-radius: 5px;
}

.profit-margin .percentage-symbol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 6px;
}



/* ------------------------------------------------------------------- Additional Data ----- */


#additional-data-container {
  background-color: aquamarine;
  grid-column: 1/2;
  padding: 3rem 5% 10rem 5%;
}


#additional-data-container h5.pcs-head {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#additional-data-grid {
  display: grid;
  grid-gap: 1rem 1.6rem;
  grid-template-columns: minmax(30px, 1.2fr) repeat(7, minmax(40px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  align-items: center;
  justify-items: stretch;
  font-size: 1rem;
}

#additional-data-grid h5.sub-header {
  grid-column: 1/9;
  font-size: 1.8rem;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 8rem;
  margin-bottom: 1rem;
  border-top: 2px dotted black;
  padding-top: 0.6rem;
}

#additional-data-grid h5.sub-header.box {
  margin-top: 0;
}

#additional-data-grid .grid-child {
  background-color: #fff;
  padding: 3px 4px 4px;
  border-radius: 5px;
  border: 2px solid #9BCBBB;
  font-weight: 400;
}

.additional-data-text-container {
  margin: 0.3rem 0.4rem 1rem 0.4rem;
}

.additional-data-text-container p,
#additional-data-grid .grid-child.box-fees p {
  line-height: 24px;
  font-size: 1.4rem;
  font-weight: 400;
}

#additional-data-grid span.colored-text,
#additional-data-grid p.colored-text {
  color: red;
  font-weight: 600;
  font-size: 1.6rem;
}


/* ----- Box Logic --- */


#additional-data-grid .box-logic {
  align-self: stretch;
  background-color: #fff;
}



/* ---------------------------------------------------------- universal-mobile ----- */

.mobile-abbreviation, .mobile-text-break {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .mobile-text-break {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .mobile-abbreviation, .mobile {
    display: block;
  }
  .hide-if-mobile {
    display: none;
  }
  p.qty-pb ,
  p.cost-pb,
  p.handling.title-fee,
  p.handling.title-type {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 560px) {

  #input-container h6.row-head,
  #results-container h6.row-head,
  #additional-data-container h6.row-head {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .result-data, .input-data {
    padding: 5px 2.5px 3px 2px;
  }

  #results-container input,
  .result-data p,
  .result-data.net-unit-cost p,
  .input-data p {
    font-size: 1.2rem;
  }

  select {
    padding: 5px 2.5px 3px 2px;
  }
  


}



/* --------------------------------------------------------------- mobile grid styles ----- */

@media only screen and (max-width: 750px) {

  #input-grid,
  #results-grid,
  #additional-data-grid  {
    grid-template-columns: minmax(0px, 0.8fr) repeat(7, minmax(0px, 1fr));
    grid-gap: 1rem 0.8rem;
  }
}



/* -------------------------------------------------------------------------- input-mobile ----- */

@media only screen and (max-width: 850px) {
  .box-btn, .handling-btn {
    min-height: 6rem;
  }
}


@media only screen and (max-width: 750px) {
  .reset-btn:hover {background-color: lightcoral;}
}



/* ------------------------------------------------------------------------ results-mobile ----- */

@media only screen and (max-width: 750px) {
  .profit-margin p.percentage-symbol {
    display: none;
  }
  .profit-margin input {
    width: 100%;
  } 

}



/* ------------------------------------------------------------------------ additional-data-mobile */

span.mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  span.desktop {
    display: none;
  }
  span.mobile {
    display: inline-block;
  }
  .box-count.mobile-text-break {
    display: none;
  }
  .additional-data p {
    font-size: 1rem;
  }

  .additional-data h6.row-head {
    font-size: 1.3rem;
  }

  .additional-data-text-container p {
    font-size: 1.2rem;
  }

  #additional-data-grid .grid-child.box-fees p {
    font-size: 1rem;
  }
  
  #additional-data-grid span.colored-text,
  #additional-data-grid p.colored-text {
    font-weight: 600;
    font-size: 1.1rem;
  }


  #additional-data-grid .grid-child {
    padding: 3px;
  }

}




