.btn-container {
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
}

#additional-data-container .btn-container button {
    background-color: aquamarine;
    border: none;
}


.collapsed-btn,
.expanded-btn {
    font-size: 6rem;
    /* box-shadow: 5px 10px #888888; */
}

.collapsed-btn {
    margin-bottom: 0;
}

.expanded-btn {
    margin-bottom: 7.5rem;
}


